.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: red;
}

table {
  color: rgb(0,0,0);
  font-size: 20px;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: lightslategray;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.header-row {
    background: #34495E;
    color: #fff;
    border-color: black;
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.warning {
    background-color: red;
}

.even-row {
    background-color: lightgray;
}